* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1A1F32;
}
.container {
  background-color: #1A1F32;
  position: relative;
  min-width: 400px;
  min-height: 400px;
  padding: 30px 20px 20px;
  border-radius: 20px;
}
.calculator {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
.calculator .value {
  grid-column: span 4;
  height: 100px;
  width: 100%;
  border: none;
  color: white;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: right;
  font-size: 2em;
}
.calculator span {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 80px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 16px;
  background: #353A4E;
  color: white;
}
.calculator span:active {
  filter: brightness(1.5);
}
.calculator span i {
  position: relative;
  font-style: normal;
  font-size: 2em;
  text-transform: uppercase;
}
.calculator .clear {
  grid-column: span 2;
}
.calculator .extra {
  background: #2C3145;
}
.calculator .extra img {
  width: 40px;
}
.calculator .clear::before {
  background: linear-gradient(90deg, #d20000, #ffffff5c);
  border-left: 1px solid #fff4;
  border-bottom: 1px solid #fff4;
  border-top: 1px solid #fff4;
}
.calculator .equal {
  font-size: 22px;
  color: #1A1F32;
  background: #4BC2FD;
  box-shadow: 0 4px 16px 0 rgba(215, 215, 215, 0.25);
}
.calculator .equal::before {
  background: linear-gradient(90deg, #1479c9, #ffffff5c);
  border-left: 1px solid #fff4;
  border-bottom: 1px solid #fff4;
  border-top: 1px solid #fff4;
}
